


.img1 {
    position: relative;
    width: 250px;
    height: 350px;
    margin-left: 68;
    margin-right: 50;
    
}

.img2 {
    position: relative;
    width: 306px;
    height: 318px;
    margin-left: 50;
    margin-right: 50;
    
}

.img3 {
    position: relative;
    width: 255px;
    height: 334px;
    margin-left: 50;
    margin-right: 68;
    
}
